@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  transition: background-color 1s;
  overflow-x: hidden;
}

html[class="dark"] {
  @apply bg-slate-900 text-white;
}

html[class="dark"] img[alt*="-icon"] {
  filter: invert(1);
}

.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
